# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/express-server/node_modules
/express-server/.env

# Hardhat files
/express-server/cache
/express-server/artifacts

# TypeChain files
/express-server/typechain
/express-server/typechain-types

# solidity-coverage files
/express-server/coverage
/express-server/coverage.json


.env